*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url("../images/bg-body.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

