@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;400;700;900&display=swap');

$fontype: 'Bebas Neue', sans-serif;

$maincolor: #FF160A;
$dmcolor: #8E0000;
$lmcolor: #EB8484;
$greencolor: #BFC7BC;
$graycolor: #313131;
$blackcolor: #000000;
$whitecolor: #ffffff;